@charset "UTF-8";

* {
    font-family: monospace;
}

body {
    background-image: url('img/mounts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
}

div {
    background-color: rgba(255, 255, 255, 0.342);
    width: 360px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(105, 105, 105, 0.322);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    backdrop-filter: blur(20px);
}

input {
    background-color: transparent;
    
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;

    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 30px;
}

.texto:hover {
    background-color: rgba(255, 255, 255, 0.267);
    color: #6b6b6d;
}

.texto {
    border: 1px solid rgba(255, 255, 255, 0.267);
    color: white;
    font-weight: bolder;
    padding-left: 15px;
}

#acess {
    background-color: transparent;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin-top: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
    border: 1px solid rgba(255, 255, 255, 0.205);
}

#acess:hover {
    background-color: rgba(255, 255, 255, 0.11);
    color: #6b6b6d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
}
